{% extends "base.html" %}
{% set active_page = '3d' %}
{% block content %}
<div class="col-md-9 mb-3">
    <h4 class="font-weight-bold mt-4 text-center">3D Printing Services</h4>
    <div class="card m-3">
        <div class="card-body">
            <h5 class="card-title">
                3D Printing Services
            </h5>
            <script type='text/javascript' src='https://www.etsy.com/assets/js/etsy_mini_shop.js'></script><script type='text/javascript'>new Etsy.Mini(23766243,'gallery',3,3,0,'https://www.etsy.com');</script>
        </div>
    </div>
{% endblock %}