{% extends "base.html" %}
{% set active_page = '3d' %}
{% block content %}
<div class="col-md-9 mb-3">
    <h4 class="font-weight-bold mt-4 text-center">3D Printing Services</h4>
    <div class="card m-3">
        <div class="card-body">
            <h5 class="card-title">I'm still making this look nice right now, but you can <a href="/contact">contact</a> me for a custom print, or order a ear saver from <a href="http://etsy.com/shop/Enzo3D">my etsy.</a></h5>
        </div>
    </div>
{% endblock %}