{% extends "base.html" %}
{% set active_page = 'home' %}
{% block content %}
<div class="col-md-9 mb-3">
<h4>Hello!</h4>
<p>I'm Enzo, nice to meet you. I am a third year Computer Science Student studying at Northeastern University, and I'm currently working for Northeastern's Information Technology Services as a Student Network Technician. This July, I will also begin working as a Software Engineering Co-op at <a href="https://www.morsecorp.com/">MORSE Corp</a>. In addition, I have previously worked as an IT/Engineering Co-op at <a href="https://www.cspi.com">CSPi</a>. More information about my past experiences can be found <a href="/experience">here.</a></p>
<br>
<p>If you need to contact me, I can be reached best using my <a href="/contact">contact page</a> or by emailing <code>galletta dot e at northeastern dot edu</code>.</p>
<br>                
</div>
{% endblock %}