{% extends "base.html" %}
{% set active_page = 'home' %}
{% block content %}
<div class="col-md-9 mb-3">
<h4>Hello!</h4>
<p>I'm Enzo, nice to meet you. I am a third year Computer Science Student studying at Northeastern University, and I am also currently working as an IT Engineering Co-op for ARIA Cybersecurity Solututions. I like working with networks, Linux systems, and web services.</p>
<br>
<p>The best way to contact me is via <a href="mailto:galletta.e@northeastern.edu">email</a> or via my <a href="/contact">contact page</a>.</p>                
</div>
{% endblock %}